<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template HTML/CSS</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="media-queries.css">
</head>
<body>
   <div id="bg">
        <div id="main">
            <header>
                <section id="header_top">header_top</section>
                <section id="header_centre">header_centre</section>
                <section id="header_bottom">header_bottom</section>
            </header>
            <section id="left">

                <article>
                    <!-- <img src="http://lorempixel.com/400/200/" /> -->
                    <div class="mainImg box">News Img</div>
                    <h1 class="box">News Title</h1>
                    <span class="box">Author</span>
                    <footer class="gallery">
                        <section>
                            <div class="galleryImg box">Img</div>
                            <h3 class="box">Title</h3>
                        </section>
                        <section>
                            <div class="galleryImg box">Img</div>
                            <h3 class="box">Title</h3>
                        </section>
                        <section>
                            <div class="galleryImg box">Img</div>
                            <h3 class="box">Title</h3>
                        </section>
                    </footer>
                </article>

            </section>
            <section id="right">rigth</section>

            <!-- arrêt du flottement -->
            <div class="clearfix"></div>
            <footer>footer</footer>
        </div>
   </div> 
</body>
</html>